.callout {
    padding: 20px;
    background-color: #702963;
    color: #fff;
}

main h2 {
    text-align: left;
    grid-column: 1 / 3;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.banner {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

footer {
  text-align: left;
  padding: 10px;
  background-color: #333;
  color: white;
}